html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Manrope',sans-serif;
    width: 100%;
    background-color: #F5F5F5;
}

.body-container {
    margin: 0 auto;
    
    width: 1400px;
    background-color: #FFFFFF;
}

.with-padding {
    padding: 32.82px 125px 0 125px;
}

.head{
    margin-bottom: 70px;
    width: 1151.35px;
    height: 25.18px;
    
}

.head__logo {
    width: 126.89px;
    height: 21.42px;
}

.head__nav {
    float: right;
}

.head__nav-link {
    margin-right: 58px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    text-decoration: none;
    color: #121212;
}

.head__nav-link:hover {
    opacity: 0.5;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    
}

.head__nav-link:last-child {
    margin-right: 0;
}



.intro {
    width: 1150px;
    height: 650px;
}

h1 {
    width: 956px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
}

.intro__presentation {
    margin-top: 30px;
    position: relative;
    width: 1150px;
    height: 500px;
    background-image: url(/resources/presentation.png);
}

.intro__text {
    position: absolute;
    left: 40px;
    bottom: 40px;
    width: 430px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.story {
    margin-top: 150px;

}

.story__title {
    width: 51px;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: #121212;
}

.story__text {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 1048px;
    font-size: 45px;
    font-weight: 400;
    line-height: 61.47px;
    letter-spacing: -0.03em;
}

.story__btn {
    padding: 20px 40px;
    display: block;
    width: 255px;
    height: 67px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.03em;
    border-radius: 5px;
    text-decoration: none;
    background-color: #AD1818;
    color: #FFFFFF;
}


.projects {
    margin-top: 150px;
    margin-bottom: 150px;
}

.projects__title {
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: -0.03em;
}

.projects__nav {
    margin-bottom: 90px;
}

.projects__nav-title {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 400;
    line-height: 38.98px;
    letter-spacing: -0.03em;
}

.projects__nav-link {
    margin-top: 15px;
    display: block;
    width: 127px;
    height: 27px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: -0.03em;
    color: #AD1818;
}

.projects__btn {
    padding: 56px 0;
    display: block;
    width: 100%;
    height: 153px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    border: 1px solid #AD1818;
    border-radius: 5px;
    color: #AD1818;
    text-decoration: none;
}

.projects__btn:hover {
    background-color: #AD1818;
    color: #FFFFFF;
}

.service {
    margin-top: 150px;
    padding: 151px 125px 150px 125px;
    width: 1400px;
    height: 1844px;
    background-color: #121212;

}

.service__title {
    margin-bottom: 34px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.service__nav {
    margin-bottom: 60px;
}

.service__nav:nth-last-child(1) {
    margin-bottom: 0;
}

.service__nav-title {
    margin-top: 15px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.big-image {
    margin-bottom: 186px;
    position: relative;
    background-image: url(/resources/bed.png);
    background-repeat: no-repeat;
    height: 717px;
}

.big-image__text {
    position: absolute;
    left: 125px;
    bottom: 60px;
    width: 443px;
    font-size: 30px;
    font-weight: 400;
    line-height: 40.98px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.contacts {
    margin-left: 124px;
    margin-bottom: 150px;
    width: 473px;
    height: 217px;
}

.contacts__title {
    position: relative;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    color: #121212;
}

.contacts__title::before {
    content:'';
    display: block;
    position: absolute;
    left: -4px;
    bottom: 12px;
    width: 13px;
    height: 22px;
    background-image: url(/resources/iphone.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.contacts__tel {
    padding-top: 32px;
    text-decoration: none;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #121212;
}

.contacts__mail {
   padding-top: 30px;
   text-decoration: none;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: -0.03em;
    border-bottom: 2px solid #121212;
    color: #121212;
    opacity: 0.5;
    
}

footer {
    
    width: 100%;
    height: 229px;
    background-color: #121212;
}

.footer__nav {
    margin: 0 auto;
    padding-top: 60px;
    width: 450px;
    height: 25px;
}

.footer__nav-link {
    padding-right: 51px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.59px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.footer__nav-link:nth-last-child(1) {
    padding-right: 0;
}

.footer__nav-link:hover {
    text-decoration: underline;
    opacity: 0.5;
    color: #FFFFFF;
}

.footer__end {
    margin: 0 auto;
    margin-top: 87px;
    width: 389px;
    height: 27px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27.32px;
    letter-spacing: -0.03em;
    opacity: 0.5;
    color: #FFFFFF;
}